.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5%;
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;
    font-weight: 800;
}

.logo-img {
    height: 40px;
    object-fit: contain;
}

@media (max-width: 480px) {
    .header { padding: 1rem 5%; }
}
