.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2.5%;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 2px;
}

.logo-img {
    height: 40px;
    object-fit: contain;
}